@{
    ViewData["HomeMenu"] = "menu-nav__item--active";
}
<main class="main-view">
    <div class="banner">
        <video playsinline autoplay muted loop class="main-view__backgroundvideo">
            <source src="img/lasercut.mp4" type="video/mp4">
        </video>
        <img src="img/banner1.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner2.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner3.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner4.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner5.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner6.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner7.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner8.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner9.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner10.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner11.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner12.jpg" class="main-view__backgroundvideo" style="display:none">
        <img src="img/banner13.jpg" class="main-view__backgroundvideo" style="display:none">
    </div>
    <div class="fb-page" data-href="https://www.facebook.com/dowd.engravers.1" data-tabs="timeline" data-width="300"
        data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="true"></div>
    <div class="main-features">
        <div class="main-features__item">
            <svg class="main-features__icon">
                <use xlink:href="img/sprite.svg#icon-pencil2"></use>
            </svg>
            <span class="main-features__heading">Sign Design</span>
            <span class="main-features__description">We manage everything from design to fabrication and installation
                in-house</span>
        </div>
        <div class="main-features__item">
            <svg class="main-features__icon">
                <use xlink:href="img/sprite.svg#icon-wrench"></use>
            </svg>
            <span class="main-features__heading">Sign Manufacturing</span>
            <span class="main-features__description">We apply the latest technology in digital printing and the best
                equipment for fabrication and installation.</span>
        </div>
        <div class="main-features__item">
            <svg class="main-features__icon">
                <use xlink:href="img/sprite.svg#icon-hammer"></use>
            </svg>
            <span class="main-features__heading">Sign Installation</span>
            <span class="main-features__description">We are a C45 licensed, bonded and insured company who only hire
                qualified professionals.</span>
        </div>
        <div class="main-features__item">
            <svg class="main-features__icon">
                <use xlink:href="img/sprite.svg#icon-paint-format"></use>
            </svg>
            <span class="main-features__heading">Sign Maintenance</span>
            <span class="main-features__description">We will make sure your sign looks clean and professional just like
                your
                brand.</span>
        </div>
    </div>
    @* <div class="gallery">
        <img class="gallery__photo" src="img/product-1.jpg">
        <img class="gallery__photo" src="img/product-2.jpg">
        <img class="gallery__photo" src="img/product-3.jpg">
        <img class="gallery__photo" src="img/product-4.jpg">
        <img class="gallery__photo" src="img/product-5.jpg">
        <img class="gallery__photo" src="img/product-6.jpg">
        <img class="gallery__photo" src="img/product-7.jpg">
        <img class="gallery__photo" src="img/product-8.jpg">
        <img class="gallery__photo" src="img/product-9.jpg">
        <img class="gallery__photo" src="img/product-10.jpg">
        <img class="gallery__photo" src="img/product-11.jpg">
        <img class="gallery__photo" src="img/product-12.jpg">
        <img class="gallery__photo" src="img/product-13.jpg">
        <img class="gallery__photo" src="img/product-14.jpg">
        <img class="gallery__photo" src="img/product-15.jpg">
        <img class="gallery__photo" src="img/product-16.jpg">
        <img class="gallery__photo" src="img/product-17.jpg">
        <img class="gallery__photo" src="img/product-18.jpg">
        <img class="gallery__photo" src="img/product-19.jpg">
        <img class="gallery__photo" src="img/product-20.jpg">
        <img class="gallery__photo" src="img/product-21.jpg">
        <img class="gallery__photo" src="img/product-22.jpg">
        <img class="gallery__photo" src="img/product-23.jpg">
        <img class="gallery__photo" src="img/product-24.jpg">
        </div> *@
    <h1 class="main-view__heading">IF YOU CAN THINK IT, WE CAN MAKE IT. SIGNAGE MANUFACTURERS | ETCH | LASERCUT |
        ENGRAVE |
        PRINT</h1>
    <span class="main-view__description">
        We design, create and install custom made signage with a wide range that will fit your every need. If you need
        any
        internal or external signage and nameplates that are acid etched, engraved, cnc machined, screenprinted, digital
        printed, anodised, or with vinyl application, we will manufacture it. This includes lightboxes, individual
        cut-out
        letters, stencil cut plates, fleximat, sandblast vinyl, no smoking signs, buffet tags, menu boards, room
        numbers,
        table numbers, directory boards, tenant boards, indicator boards, cosign, plaques or nameplates, memorial and
        opening plaques, display stands, honours boards, standing signs, estate agent boards, airport welcome boards,
        window
        signage or vehicle branding and decals, we will make sure you get only the best.
    </span>
    <h1 id="products" class="main-view__heading">PRODUCTS</h1>
    <!-- <div class="products">
                        <div class="products__item" data-sku="10001" data-img="img/product-1.jpg" data-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit." data-price="595" data-currency="R" data-qty="1">
                            <img src="img/product-1.jpg" alt="" class="products__item-photo">
                            <span class="products__title">
                                Cut-out Letters
                            </span>
                            <button class="btn btn-lg" onclick="addToCart(this);">
                                <span class="btn-lg__visible">Cut-out Letters</span>
                                <span class="btn-lg__invisible">GET QUOTE</span>
                            </button>
                        </div>
                        <div class="products__item">
                            <img src="img/product-10.jpg" alt="" class="products__item-photo">
                            <span class="products__title">
                                Name Plate
                            </span>
                            <button class="btn btn-sm" onclick="addToCart(this);">
                                <span class="btn-sm__visible">GET QUOTE</span>
                                <span class="btn-sm__invisible">NOW</span>
                            </button>
                        </div>
                        <div class="products__item">
                            <img src="img/product-7.jpg" alt="" class="products__item-photo">
                            <span class="products__title">
                                Safety Signs
                            </span>
                            <button class="btn btn-sm" onclick="addToCart(this);">
                                <span class="btn-sm__visible">GET QUOTE</span>
                                <span class="btn-sm__invisible">NOW</span>
                            </button>
                        </div>
                        <div class="products__item">
                            <img src="img/product-9.jpg" alt="" class="products__item-photo">
                            <span class="products__title">
                                Stickers
                            </span>
                            <button class="btn btn-sm" onclick="addToCart(this);">
                                <span class="btn-sm__visible">GET QUOTE</span>
                                <span class="btn-sm__invisible">NOW</span>
                            </button>
                        </div>
                    </div> -->
    <div class="main-features">
        <div class="main-features__item">
            <span class="main-features__heading">Cut-out Letters</span>
            <img class="gallery__photo" src="img/product-1.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Name Plate</span>
            <img class="gallery__photo" src="img/product-3.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Safety Signs</span>
            <img class="gallery__photo" src="img/product-16.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Stickers</span>
            <img class="gallery__photo" src="img/product-15.jpg">
        </div>
    </div>
    <div class="main-features">
        <div class="main-features__item">
            <span class="main-features__heading">Vehicle Marking</span>
            <img class="gallery__photo" src="img/product-17.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Stamp</span>
            <img class="gallery__photo" src="img/product-4.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Indicator Board</span>
            <img class="gallery__photo" src="img/product-18.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Badge</span>
            <img class="gallery__photo" src="img/product-5.jpg">
        </div>
    </div>
    <div class="main-features">
        <div class="main-features__item">
            <span class="main-features__heading">Keyring</span>
            <img class="gallery__photo" src="img/product-24.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Desk Stand</span>
            <img class="gallery__photo" src="img/product-30.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Serial Plate</span>
            <img class="gallery__photo" src="img/product-22.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Punch</span>
            <img class="gallery__photo" src="img/product-22.jpg">
        </div>
    </div>
    <div class="main-features">
        <div class="main-features__item">
            <span class="main-features__heading">Medal</span>
            <img class="gallery__photo" src="img/product-22.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Trophy</span>
            <img class="gallery__photo" src="img/product-22.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Crest</span>
            <img class="gallery__photo" src="img/product-2.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Window Decal</span>
            <img class="gallery__photo" src="img/product-25.jpg">
        </div>
    </div>
    <div class="main-features">
        <div class="main-features__item">
            <span class="main-features__heading">Embossing Die</span>
            <img class="gallery__photo" src="img/product-22.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Branding Iron</span>
            <img class="gallery__photo" src="img/product-5.jpg">
        </div>
        <div class="main-features__item">
            <span class="main-features__heading">Wallpaper</span>
            <img class="gallery__photo" src="img/product-12.jpg">
        </div>
    </div>
    <h1 id="products" class="main-view__heading">MORE THAN 5000 CLIENTS</h1>
    <div class="client-logos">
        <img src="/img/clients/logo1.png" class="client-logos__h80" />
        <img src="/img/clients/logo2.png" class="client-logos__h80" />
        <img src="/img/clients/logo3.png" class="client-logos__h100" />
        <img src="/img/clients/logo4.png" class="client-logos__h120" />
        <img src="/img/clients/logo5.png" class="client-logos__h80" />
        <img src="/img/clients/logo6.png" class="client-logos__h80" />
        <img src="/img/clients/logo7.png" class="client-logos__h80" />
        <img src="/img/clients/logo8.png" class="client-logos__h80" />
        <img src="/img/clients/logo9.png" class="client-logos__h80" />
        <img src="/img/clients/logo10.png" class="client-logos__h80" />
        <img src="/img/clients/logo11.png" class="client-logos__h80" />
        <img src="/img/clients/logo12.png" class="client-logos__h80" />
    </div>

    <div class="map">
        <div class="map__overlay">
            <h4 class="map__title">DOWD Signage</h4>
            <div class="map__detail">
                <p>12 Traka street<br>Kaymor<br>Stikland industrial area<br>Cape Town, 7530</p>
                <p>Mon - Fri, 7:45am - 4:30pm</p>
            </div>
            <a href="https://maps.google.com?daddr=12 Traka street, Cape Town, 7530" target="_blank"><button
                    class="btn">
                    <span class="btn__visible">Directions</span>
                    <span class="btn__invisible">DOWD</span>
                </button></a>
        </div>
        <div id="map" class="map__control"></div>
    </div>
</main>

<script>
    let carouselIndex = 0;
    const collection = document.getElementsByClassName("main-view__backgroundvideo");
    setInterval(function () {
        for (let x = 0; x < collection.length; x++) {
            collection[x].style.display = "none";
        }
        carouselIndex++;
        if (carouselIndex > collection.length - 1)
            carouselIndex = 0;
        collection[carouselIndex].style.display = "inline";
        collection[carouselIndex].style.animation = "fadeIn 0.5s";
    }, 15000);

</script>